---
layout: page
title: CoBuy - Buy a home together, intelligently.
permalink: "/about"
description: CoBuy makes it easier to buy and own a home with friends, family, or
  your partner — start to finish. Get step-by-step guidance from our full-service
  team of experts. Experience co-ownership that’s simpler, safer, and more affordable.
image: "/assets/images/cobuy-fb-image.png"

---
<img src="/assets/images/cobuy-fb-image.png"><h2>CoBuy makes it easier to buy and own a home with friends, family, or your partner — intelligently.</h2>

<p>We guide folks who don’t fit into the box of a traditional “nuclear family” through the process of buying a home
  together, start to finish. Our focus is on making co-ownership simpler, safer, and more affordable</p>

<div class='about-header' style="margin-top: 2rem; margin-bottom: 2rem;">
  <h4>Who we are</h4>
  <div class="decor-line"></div>
</div>

<p>CoBuy makes it easier to buy and own a home with friends, family, or your partner — intelligently. We guide buyers
  who don’t fit into the box of a traditional “nuclear family” through the process of buying a home together, start to
  finish. Our focus is on making co-ownership simpler, safer, and more affordable.</p>
<p>It started back in 2015 when we decided to team up to co-buy a home. As family and partners, we wanted to live
  together and to own our home. We realized that by pooling our resources, we could increase our purchasing power and
  share expenses. With backgrounds in real estate, financial services, insurance, and residential development, we
  thought it would be easy. We were wrong. Buying a home together is complicated, there are many unknowns, and closing
  on a home is just the start of co-ownership. Our experience made it clear that the homebuying process fails friends,
  family, and unmarried couples.</p>
<p>So we fixed it.</p>


{% for a in site.data.authors %}
{% assign author = a[1] %}
{% unless author.display_name contains "CoBuy" %}
<div class="row post-top-meta mt-5">
  <div class="col-xs-12 col-md-4 col-lg-3 text-center text-md-left mb-4 mb-md-0 text-md-center">
    <div>
      {% if author.avatar %}
      <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
      {% else %}
      <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
      {% endif %}
    </div>
    <strong>{{ author.display_name }}</strong><br/>
    <span style="color:#718096; font-weight:500; font-size: 0.875rem; vertical-align: middle;">{{ author.title }}</span> <a href="{{author.linkedin}}" target="_blank" rel="noopener noreferrer">
      <svg viewBox="0 0 64 64" width="30" height="30">
      <circle cx="32" cy="32" r="31" fill="#007fb1"></circle>
      <path
        d="M20.4,44h5.4V26.6h-5.4V44z M23.1,18c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1 c1.7,0,3.1-1.4,3.1-3.1C26.2,19.4,24.8,18,23.1,18z M39.5,26.2c-2.6,0-4.4,1.4-5.1,2.8h-0.1v-2.4h-5.2V44h5.4v-8.6 c0-2.3,0.4-4.5,3.2-4.5c2.8,0,2.8,2.6,2.8,4.6V44H46v-9.5C46,29.8,45,26.2,39.5,26.2z"
        fill="white"></path>
    </svg></a>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-9 text-center text-md-left">
      <span class="author-description">{{ author.description }}</span>
  </div>
</div>
{% endunless %}
{% endfor %}



<div class='about-header' style="margin-top: 2rem; margin-bottom: 2rem;">
  <h4>What we do</h4>
  <div class="decor-line"></div>
</div>
<p>CoBuy guides folks step-by-step through the process of buying a home together.</p>
<ul>
  <li>Planning</li>
  <li>Building consensus</li>
  <li>Determining readiness</li>
  <li>Securing a joint mortgage</li>
  <li>Searching, negotiating, transacting</li>
  <li>Structuring co-ownership</li>
  <li>Protecting against risks</li>
  <li>Developing an exit strategy</li>
</ul>
<p>
  Co-buying is complicated, and the professional service suppliers in real estate are neither qualified nor incentivized
  to act as expert advisors on co-buying or ownership. It’s not their job.
</p>
<p>
  CoBuy solves this problem. We’re a specialized neutral third-party facilitator. Say that aloud three times fast. Think
  of us as your dedicated expert Project Manager for co-buying and co-ownership. We’ve built our business from the
  ground
  up to streamline co-buying and prepare co-buyers for successful, protected co-ownership. Naturally, we’re big on
  collaboration. Our ecosystem of CoBuy-certified™ Pros brings together top RE agents, mortgage pros, attorneys, CPAs,
  insurance pros — all hand-selected based on experience, local market knowledge, customer service, ethics,
  communication,
  and team orientation. By aligning incentives, working together, and prioritizing the wellbeing of our customers,
  everyone wins.
</p>


<div class='about-header' style="margin-top: 2rem; margin-bottom: 2rem;">
  <h4>Why we do it</h4>
  <div class="decor-line"></div>
</div>

<p>We’re working to democratize homeownership and wealth creation, starting with making it easier to buy and own a home
  together, intelligently.</p>

<ol>
  <li>We believe homeownership ought to be accessible to everyone, “nuclear household” or not.</li>
  <li>We don’t push homeownership or co-ownership: housing is a personal decision.</li>
</ol>
<p>Co-ownership has broad appeal for both social and financial reasons:</p>

<ul>
  <li>People like living together</li>
  <li>84% of Americans want to own a home</li>
  <li>Affordability remains the #1 barrier to homeownership</li>
  <li>Pooling resources makes homeownership more affordable through economies of scale and expense sharing</li>
</ul>
<p>
  But co-buying is tough and poorly accommodated by real estate service suppliers (salespeople). Without a proper
  framework or support, co-ownership isn’t feasible for many folks who are, in fact, interested. We’re fixing that.
</p>

<div class='about-header' style="margin-top: 2rem; margin-bottom: 2rem;">
  <h4>Our values</h4>
  <div class="decor-line"></div>
</div>

<p>Values guide everything we do:</p>

<section>
  <div class="row">
    <div class="col-sm-6 text-center">
      <i class="fas fa-book-open fa-3x"></i>
      <h6 class="mt-2" style="color: #3899da;">Transparency</h6>
    </div>
    <div class="col-sm-6 text-center">
      <i class="fas fa-key fa-3x"></i>
      <h6 class="mt-2" style="color: #3899da;">Accessibility</h6>
    </div>
    <div class="col-sm-6 text-center mt-5">
      <i class="fas fa-shield-check fa-3x"></i>
      <h6 class="mt-2" style="color: #3899da;">Credibility</h6>
    </div>
    <div class="col-sm-6 text-center mt-5">
      <i class="far fa-handshake fa-3x"></i>
      <h6 class="mt-2" style="color: #3899da;">Accountability</h6>
    </div>
  </div>
</section>






Short. Simple. Powerful.
