# Site
name: "CoBuy"
title: "CoBuy"
description: "Info and resources for anyone looking to co-buy a home in greater Seattle."
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: ''
google_analytics: 'UA-86661345-1'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  mat:
    name: Matt Holmes
    display_name: Matt Holmes
    email: matt@gocobuy.com
    twitter: https://twitter.com/gocobuy
    avatar: 'assets/images/mat.png'
    description: "Global explorer. Dual US/UK national. Former investment banker. Real estate enthusiast. Rock&roll lover."
  pat:
    name: Pamela Hughes
    display_name: Pamela Hughes
    email: pam@gocobuy.com
    avatar: 'assets/images/pat.png'
    description: "Veteran real estate, construction, investment, and insurance executive/entrepreneur with 25 years in leadership positions. Led six-sigma efforts at GE Financial Assurance. Founded & ran HBC, a builder-developer of homes and condos across Greater Seattle. Licensed RE agent, Principal Managing Broker, and Real Estate Investment Advisor. Life-long student, investor, co-buyer."
  
  
# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-menus
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
